<div class="update-container">
    <form>
        <label for="">
            <span>Name:</span>
            <input type="text" placeholder="name" name="name" [(ngModel)]="user.name" value="{{user.name}}">
        </label>
        <label for="">
           <span> Email:</span>
            <input type="text" placeholder="email" name="email" [(ngModel)]="user.userEmail" >
        </label>
        <span class="error">{{errorMsg}}</span>
        <button (click)="updateUser()">UPDATE</button>
    </form>
</div>
