<app-loader-animation *ngIf="loading" ></app-loader-animation>
    <ng-container  *ngIf="user$ | async as user; else notFound">
        <div class="profile-container">
            <app-banner (changedBanner)="reload()" [myProfile]="myProfile" [banner]="user.banner_photo"></app-banner>
            <app-profile-photo [myProfile]="myProfile" [profilePhoto]="user.profile_photo"></app-profile-photo>
            <h2>{{user?.name}}</h2>
            <app-update-btn [myProfile]="myProfile"></app-update-btn>
            <hr>
            <ng-container *ngIf="posts$ | async as posts;">
                <ng-container *ngIf="posts.length > 0; else none">
                    <ng-container *ngFor="let post of posts">
                        <app-small-card [myProfile]="myProfile" [post]="post"></app-small-card>
                    </ng-container>
                </ng-container>
             
            </ng-container>
    
    
            <ng-template #none>
                <h4 *ngIf="!loading" class="no-content">{{myProfile? 'you have':user?.name + ' has'}} no posts yet...</h4>
            </ng-template>
        </div>
    </ng-container>


<ng-template #notFound>
    <h4 *ngIf="!loading" class="no-content">User not found</h4>
</ng-template>