<app-banner [banner]="banner"></app-banner>
<app-profile-photo [profilePhoto]="photo"></app-profile-photo>
<h2>{{username}}</h2>
<app-update-btn></app-update-btn>
<ng-container *ngIf="posts.length > 0; else none">
    <ng-container *ngFor="let post of posts">
        <app-small-card
            [photoUrl]="post.photo"
            [title]="post.title"
            [id]="post.id"
            [date]="post.date"
            [source]="'alguma fonte'"
        >
        </app-small-card>
    </ng-container>
</ng-container>
<ng-template #none>
    <h4>The user has no content to show</h4>
</ng-template>