<div class="article-container">
    <article *ngIf="article instanceof Post">
        <div class="article-image">
            <img src="{{article.image | bucketURL}}" alt="">
        </div>
        <div class="date">
            <span>{{article.date| formatDate}}</span>
        </div>
        <div class="article-title">
            <h1>{{article.title}}</h1>
        </div>
        <div class="article-content">
            <ng-container *ngFor="let line of article.content.split('\n')">
                <p>{{line}}</p>
            </ng-container>
        </div>
    </article>
</div>