.article-container article {
    padding: 50px 20px;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.date span {
    color: #ccc;
}

.article-image {
    width: 100%;
}

.article-image img {
    width: 100%;
}

.article-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.article-title h1 {
    font-size: 35px;
}

.article-content p {
    font-size: 21px;
}