<main>
    <section>
        <div class="articles-container">
            <app-main-card></app-main-card>
            <aside>
                <app-small-card></app-small-card>
                <app-small-card></app-small-card>
                <app-small-card></app-small-card>
            </aside>
        </div>
    </section>
    <section>
        <h2>Popular</h2>
        <div class="articles-container-two">
            <app-small-card></app-small-card>
            <app-small-card></app-small-card>
            <app-small-card></app-small-card>
        </div>
    </section>
</main>
