/* desktop */

section {
    margin: auto;
    padding: 3rem;
    margin-bottom: 50px;
}

.home-container {
    width: 100%;
    overflow: hidden;
}

.articles-container {
    display: flex;
    justify-content: space-between;
}

.second {
    flex-direction: row-reverse;
}

h2 {
    font-size: 40px;
    padding-bottom: 5px;
    text-transform: uppercase;
    margin-bottom: 50px;
    position: relative;
    display: block;
}

h2::after {
    content: '';
    height: 10px;
    width: 100px;
    background-color: var(--secondary-color);
    display: block;
    left: 0;
    bottom: -10px;
}


/* MOBILE */

@media (max-width:1250px) {
    .articles-container {
        flex-direction: column;
        margin: auto;
    }

    section {
        padding: 1rem;
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    a>* {
        margin: auto;
    }
}