.socials-container {
    display: flex;
    gap: 20px;
}

.socials-container .social-item {
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

path {
    color: var(--icons-color);
}