<div class="image-photo">
    <img src="{{profilePhoto | bucketURL}}" alt="" class="">
    <div [ngClass]="myProfile? 'update-action':'hidden'">
        <label for="update-input-profile">
            <span class="material-symbols-outlined">
                photo_camera
            </span>
        </label>
        <input (change)="onPhotoSelected($event)" accept="image/png, image/jpeg, image/jpg" type="file"
            name="profilePhoto" id="update-input-profile" class="hidden">
    </div>


</div>