
<div class="send-email-container">
    <h3>Stay in touch</h3>
    <div class="send-email-sub-container">
        <div class="send-email-inside">
            <p>We'd love to keep the conversation going! Feel free to reach out to us anytime with your thoughts, questions,
                or just to say hello. You can drop us a line through the contact form below or connect with us on our social
                media channels. We're always excited to hear from our community and look forward to staying in touch!</p>
            <input type="email" autocomplete="true" name="email" placeholder="Email">
            <button type="submit">Enviar</button>
        </div>
        <aside>
            <div class="send-email-image">
                <img src="https://picsum.photos/1280/720" alt="">
            </div>
        </aside>
    </div>
</div>