.small-card-container {
    display: flex;
    width: 650px;
    padding: 10px;
    cursor: pointer;
    max-height: 150px;
    overflow: hidden;
}

h2 {
    font-size: 1.2rem;
}

.small-card-container:hover img {
    transform: scale(1.1);
}

.small-card-image {
    width:100%;
    height: 150px;
    max-width: 250px;
    min-height: 150px;
    overflow: hidden;
}
.small-card-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all ease-in-out 1s;
}

.small-card-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}


.date span {
    color: #676767cf;
    font-size: 1rem;
}

.source {
    display: flex;
    align-items: center;
    gap: 7px;
}

.source span {
    color: gray;
    font-size: 1rem;
}


/* MOBILE */

@media (max-width:1250px) {
    .small-card-container {
        margin: auto;
        width: 100%;
    }
    
}