* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    list-style: none;
    border: none;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --icons-color: #0c0c0c;
    --secondary-color: green;
}

body {
    background-color: #101010;
    margin: auto;
    display: flex;
    max-width: 1366px;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 60px;
    height: calc(100vh - 120px);
    position: relative;
}
#app{
    width: 100%;
    padding-bottom: 60px;
    min-height:calc(100vh - 60px);
    position: absolute;
}


