footer {
    background: rgba(0, 0, 0, 0.85);
    padding: 20px 50px;
    height:300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    bottom: 0;
    right: 0;
    left: 0;
}
ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

ul li a {
    font-size: 18px;
    color: white;
}

.copyright p{
    text-align: center;
    font-size: 13px;
    color: rgb(0, 0, 0);
}
