footer {
    background: rgba(0, 0, 0, 0.85);
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.copyright p{
    text-align: center;
    font-size: 13px;
    display: flex;
    gap: 5px;
    justify-content: flex-end;
}
.copyright p a {
    color:rgb(2, 99, 185);
}
