<header>
    <div class="nav-bar-container" [ngClass]="menuOpen?'actived':''">
        <app-nav-bar-menu (click)="closeMenu()"></app-nav-bar-menu>
        <app-nav-bar-search></app-nav-bar-search>
        <app-nav-bar-socials (click)="closeMenu()"></app-nav-bar-socials>
        <div (click)="toggleMenu()" [ngClass]="menuOpen?'menuOpened':''" class="mobile-btn-menu">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div *ngIf="!isLogged else logged" class="buttons-container" (click)="closeMenu()">
            <button [routerLink]="['signin']">Sign-in</button>
            <button [routerLink]="['signup']">Sign-up</button>
        </div>
        <ng-template #logged>
            <div class="buttons-container" (click)="closeMenu()">
                <button title="create post" [routerLink]="['create']">
                    <span class="material-symbols-outlined">
                        post_add
                    </span>
                </button>
                <button title="profile" [routerLink]="['profile']">
                    <span class="material-symbols-outlined">
                        person
                    </span>
                </button>
                <button title="logout" (click)="logout()">
                    <span class="material-symbols-outlined">
                        logout
                    </span>
                </button>
            </div>
        </ng-template>
    </div>
</header>